header {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
}
img {
	object-fit: cover;
	display: block;
	width: 150px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}
p {
	text-align: center;
	font-family: "Trebuchet MS";
}
h1 {
	font-family: "Trebuchet MS";
}
h4 {
	font-family: "Trebuchet MS";
	margin-bottom: 0;
}
ul {
	margin-top: 0;
	text-align: left;
}
li {
	font-family: "Trebuchet MS";
}
.wrapper {
}
.imageContainer {
	border: solid black;
	width: 90%;
	margin: 0 auto;
}
.row {
	width: 60vw;
	display: flex;
	align-content: space-evenly;
	justify-content: space-evenly;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.image {
	border: solid rgb(80, 77, 77);
	border-radius: 20px;
	width: 30%;
	margin: 5px 5px;
}
